.top-footer {
  background: #007c7c;
  padding-top: 30px;
  padding-bottom: 30px;

  &__content {
    display: flex;
    // justify-content: space-between;
    gap: 100px;
    width: 100%;

    @media (max-width: 1090px) {
      flex-direction: column;
    }
    @media (max-width: 500px) {
      flex-direction: row;
      gap: 20px;
    }

    &__left {
      display: flex;
      justify-content: space-between;
      // width: 40%;
      width: 100%;

      @media (max-width: 1090px) {
        justify-content: unset;
        gap: 100px;
      }

      @media (max-width: 600px) {
        justify-content: unset;
        gap: 50px;
      }
      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      // width: 50%;
      width: 100%;

      &__top {
        display: flex;
        justify-content: space-between;
        margin-right: 82px;

        @media (max-width: 1090px) {
          justify-content: unset;
          gap: 100px;
        }
        @media (max-width: 600px) {
          justify-content: unset;
          gap: 50px;
          margin-right: 0;
        }

        @media (max-width: 500px) {
          flex-direction: column;
          margin-right: 0;
        }
      }

      &__bottom {
        border-top: 1px solid #045d5d;
        padding: 15px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
          flex-direction: column;
          gap: 30px;
        }

        &__container {
          display: flex;
          flex-direction: column;
        }

        &__title {
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          color: #99d9d9;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        &__num {
          color: #fff;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
