.header {
  z-index: 2;

  // position: sticky;
  position: sticky;
  top: 0;
  // width: 100%;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
}

.bottom-header {
  background: #017e7e;

  &__content {
    display: flex;
    padding: 14.5px 0;

    &__right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      &__verify {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        letter-spacing: 1px;

        &:hover {
          color: #fcbf02;
        }
      }
      &__faq {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        letter-spacing: 1px;

        &:hover {
          color: #fcbf02;
        }
      }
    }
  }
}
