.section-3 {
  display: flex;
  gap: 15px;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    box-shadow: 0 4px 10px rgba(218, 218, 241, 0.49);
    border-radius: 6px;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.125);

    &__title {
      align-self: flex-start;
      font-size: 17px;
      font-weight: 500;
      color: #5e676f;
      padding: 12px 20px;
      margin-top: 10px;
    }

    &__body {
      width: 230px;
      padding: 40px;
    }
  }
}
