// .map22 {
//   fill: red !important;
// }

.section-4 {
  display: flex;
  box-shadow: 0 4px 9px rgba(218, 218, 241, 0.49);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 17px;
    font-weight: 500;
    color: #5e676f;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 12px 20px;
  }

  &__charts {
    display: flex;

    &__left {
      width: 80%;
      // height: 550px;
      // > img {
      //   width: 550px;
      //   height: 550px;
      // }

      &__tooltip {
        position: absolute;
        z-index: 1;
        visibility: visible;
        cursor: default;
        background: white;
        // opacity: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #5439fc;
        background-color: hsla(0, 0%, 100%, 0.9);

        &__title-1 {
          font-size: 12px;
          font-weight: bolder;
          margin-bottom: 8px;
        }
        &__title-2 {
          font-size: 12px;
          font-weight: bolder;
          color: #d4d4d4;
          margin-bottom: 6px;
        }
      }
    }

    &__middle {
      height: 100vh;
      //   width: 5px;
      border-left: 2px solid;
      border-top: 0;
      border-bottom: 0;
      border-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 0,
        #8699b8 48%,
        hsla(0, 0%, 100%, 0)
      );
      border-image-slice: 1;
    }

    &__right {
      height: 560px;
      width: 100%;
      padding-left: 40px;
      padding-right: 10px;
      overflow-y: scroll;
      //   overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #ebebeb;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #9e9e9e;
        border-radius: 10px;
      }

      &__card {
        display: flex;
        width: 100%;
        gap: 10px;
        border-bottom: 2px dashed #cbcbcb;

        &__chart {
          //   height: 55px;
          height: 65px;
          width: 85px;
          padding: 10px 5px;
        }

        &__content {
          display: flex;
          flex-direction: column;
          padding: 10px 5px;
          width: 100%;
          gap: 7px;

          &__title {
            color: #0b0f22;
            font-size: 16px;
            font-weight: 500;
            padding: 2px 5px 5px;
          }

          &__details {
            display: flex;
            padding: 2px 5px 5px;

            &__item {
              display: flex;
              flex-direction: column;
              width: 20%;
              gap: 4px;

              &__title {
                color: #adadad;
                font-size: 14px;
                font-weight: 500;
              }

              &__num {
                color: #15124a;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
